// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.carousel-external-control {
  text-align: center;
}
.thumbnail {
  text-align: center;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 10px 12px;
    pointer-events: none;
}
