.row
  .col-md-10.col-md-offset-1
    %ul.nav.nav-tabs
      %li{"ng-class" => "{active: $state.includes('admin.metrics')}"}
        %a{"ui-sref" => 'admin.metrics'} Metrics
      %li{"ng-class" => "{active: $state.includes('admin.users')}"}
        %a{"ui-sref" => 'admin.users'} Users
      %li{"ng-class" => "{active: $state.includes('admin.resource_types')}"}
        %a{"ui-sref" => 'admin.resource_types'} Resource Types
.row
  .col-md-10.col-md-offset-1
    %ui-view
